
<h1>HTML5/Javascript Development Home</h1>
<p></p>
 <%= link_to "Sign Up Now", signup_path, :class=>"signup_button round" %> 
  HTML5 game engines
  <li>
    <%= image_tag("/javascripts/CSS_Game/icon.gif", :alt => "CSS Game engine/non integrated app", :class => "round") %>
    <%= link_to "The CSS game engine.", cssgameengine_path %> 
  </li>
  
  <li>
    <%= image_tag("/stylesheets/GMP/favicon.ico", :alt => "GMP Game engine", :class => "round") %>
    <%= link_to "GMP space invaders", gmp_path %>
  </li>
  
<p></p>
 HTML5 apps development
<li>
  <%= image_tag("/images/fpicon-sm.png", :alt => "Finger Paint", :class => "round") %>
  <%= link_to "Finger paint app", fingerpaint_path %>
</li>

